@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.37rem;
    margin-top: 1.25rem;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 0.93rem;
    color: hsl(220, 15%, 55%);
    padding: 1rem;
}
main {
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.25rem;
}

.imgQR {    
    border-radius: 0.625rem;
    width: 18rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.31rem;
}

.attribution { font-size: 0.69rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }